In [1]:
x=123
print(x)

123

In [3]:
x="aaa"

In [4]:
x

'aaa'

In [7]:
print(x)

aaa

In [13]:
name="小明"
a=70.826
b=60.5
score=a+b
print("%s的成績 a科=%5.2f B科=%.2f 總合%d" % (name,a,b,score))

小明的成績 a科=70.83 B科=60.50 總合131

In [14]:
print("{}的成績為{}".format(name,score))

小明的成績為131.326

In [1]:
letters='abcdefghijklmnopqustuvwxyz'

In [2]:
len(letters)

26

In [4]:
letters[0]

'a'

In [5]:
letters[10:]

'klmnopqustuvwxyz'

In [6]:
letters[7:9]

'hi'

In [7]:
letters[1:4]

'bcd'

In [8]:
letters[::2]

'acegikmoqsuwy'

In [11]:
letters[-3::]

'xyz'

In [12]:
letters[18:-3]

'stuvw'

In [14]:
todos='get a, get b,get c,get d,get e'
todos1=todos.split(",")

In [15]:
todos1

['get a', ' get b', 'get c', 'get d', 'get e']

In [18]:
type(todos1)

list

In [19]:
tuple(todos1)

('get a', ' get b', 'get c', 'get d', 'get e')

In [23]:
y="".join(todos1)

In [24]:
y

'get a get bget cget dget e'

In [25]:
list(todos1)

['get a', ' get b', 'get c', 'get d', 'get e']

In [26]:
type(todos1)

list

In [27]:
s="-".join(todos1)

In [29]:
s

'get a- get b-get c-get d-get e'

In [31]:
fruits=["orange","apple","pear","banana","kiwi","apple","banana"]
#計算元數出現的個數
print(fruits.count("apple"))
#回傳元素在list最小的索引值
print(fruits.index("banana"))
print(fruits.index("banana",4))
#倒轉順序
fruits.reverse()
print(fruits)
#把元素加到list最後
fruits.append("grape")
print(fruits)
#排序
fruits.sort()
print(fruits)
#list相加
fruits.extend(["berry","apple"])
print(fruits)
#將元素插入list索引值i的地方
fruits.insert(1,"berry")
print(fruits)
#移除list中第1個元素
fruits.remove("berry")
print(fruits)
'''
因為串列屬於堆疊，先進後出，所以pop會取出最後一個元素
'''
print(fruits.pop())
stack=[3,4,5]
stack.append(6)
stack.append(7)
print(stack)
print(stack.pop())
print(stack.pop())
print(stack)
'''
佇列部份我們使用collections裏的deque
'''
from collections import deque
queue=deque(["阿呆","ERIC","JOHN","MICHAEL","小寶","小文"])
queue.append("TERRY")
queue.append("GRAHAM")
print(queue.popleft())
print(queue.popleft())
print(queue.pop())
print(queue)

2
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear', 'berry', 'apple']
['apple', 'berry', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear', 'berry', 'apple']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear', 'berry', 'apple']
apple
[3, 4, 5, 6, 7]
7
6
[3, 4, 5]
阿呆
ERIC
GRAHAM
deque(['JOHN', 'MICHAEL', '小寶', '小文', 'TERRY'])

In [32]:
aa=['a1','a2']
bb=['b1','b2','b3','b4']
cc=[3,'c1',5]
allN=[aa,bb,'apple',cc]

In [33]:
allN

[['a1', 'a2'], ['b1', 'b2', 'b3', 'b4'], 'apple', [3, 'c1', 5]]

In [36]:
allN[1][2]

'b3'

In [37]:
allN.append("bb100")

In [38]:
allN

[['a1', 'a2'], ['b1', 'b2', 'b3', 'b4'], 'apple', [3, 'c1', 5], 'bb100']

In [39]:
allN.extend(fruits)

In [40]:
allN

[['a1', 'a2'],
 ['b1', 'b2', 'b3', 'b4'],
 'apple',
 [3, 'c1', 5],
 'bb100',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pear',
 'berry']

In [41]:
allN.pop()

'berry'

In [42]:
allN

[['a1', 'a2'],
 ['b1', 'b2', 'b3', 'b4'],
 'apple',
 [3, 'c1', 5],
 'bb100',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'pear']

In [47]:
allN.remove("kiwi")

ValueError: list.remove(x): x not in list

In [48]:
allN

[['a1', 'a2'],
 ['b1', 'b2', 'b3', 'b4'],
 'apple',
 [3, 'c1', 5],
 'bb100',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'orange',
 'pear']

In [49]:
allN.insert(0,"abc")

In [50]:
allN

['abc',
 ['a1', 'a2'],
 ['b1', 'b2', 'b3', 'b4'],
 'apple',
 [3, 'c1', 5],
 'bb100',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'orange',
 'pear']

In [51]:
queue

deque(['JOHN', 'MICHAEL', '小寶', '小文', 'TERRY'])

In [53]:
queue.pop()

'TERRY'

In [54]:
queue

deque(['JOHN', 'MICHAEL', '小寶', '小文'])

In [55]:
"abc" in allN

True

In [57]:
tp=tuple("abcdefg")
print(tp)
tp1=tuple([2*x for x in range(1,8)])
print(tp1)

('a', 'b', 'c', 'd', 'e', 'f', 'g')
(2, 4, 6, 8, 10, 12, 14)

In [59]:
xlist=[x**2 for x in range(0,10)]
xlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
ttuple=tuple(allN)

In [61]:
ttuple

('abc',
 ['a1', 'a2'],
 ['b1', 'b2', 'b3', 'b4'],
 'apple',
 [3, 'c1', 5],
 'bb100',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'orange',
 'pear')

In [62]:
dict01={
    'a':'AAAAA',
    'b':'BBBBB',
    'c':'CCCCC',
    'd':'DDDDD'
}
print(dict01)

{'a': 'AAAAA', 'b': 'BBBBB', 'c': 'CCCCC', 'd': 'DDDDD'}

In [63]:
a=dict01["a"]

In [64]:
a

'AAAAA'

In [65]:
dict06={'x':'a1','b':'b1','c':'c1'}
others={'x':'x1','z':'z1'}
dict06.update(others)
print(dict06)

{'x': 'x1', 'b': 'b1', 'c': 'c1', 'z': 'z1'}

In [66]:
del allN["abc"]

TypeError: list indices must be integers or slices, not str

In [67]:
allN

['abc',
 ['a1', 'a2'],
 ['b1', 'b2', 'b3', 'b4'],
 'apple',
 [3, 'c1', 5],
 'bb100',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'orange',
 'pear']

In [68]:
del allN[0]

In [69]:
allN

[['a1', 'a2'],
 ['b1', 'b2', 'b3', 'b4'],
 'apple',
 [3, 'c1', 5],
 'bb100',
 'apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'orange',
 'pear']

In [70]:
del dict06["x"]

In [71]:
dict06

{'b': 'b1', 'c': 'c1', 'z': 'z1'}

In [72]:
dict06.keys()

dict_keys(['b', 'c', 'z'])

In [73]:
dict06.values()

dict_values(['b1', 'c1', 'z1'])

In [74]:
dict06.items()

dict_items([('b', 'b1'), ('c', 'c1'), ('z', 'z1')])

In [75]:
tel={"justin":"0929837467","ivy":"0987276342"}
#取得key裏的value
print(tel["justin"])
print(tel.get("justin"))
#增加元素
tel["johny"]="00956234876"
print(tel)
#刪除元素
del tel["johny"]
print(tel)
print(list(tel.keys()))
print(tel.keys())
print(sorted(tel.keys()))
print("ivy" in tel)
print(len(tel))
print(tel.values())

0929837467
0929837467
{'justin': '0929837467', 'ivy': '0987276342', 'johny': '00956234876'}
{'justin': '0929837467', 'ivy': '0987276342'}
['justin', 'ivy']
dict_keys(['justin', 'ivy'])
['ivy', 'justin']
True
2
dict_values(['0929837467', '0987276342'])

In [76]:
dict06["r"]="0987"

In [77]:
dict06

{'b': 'b1', 'c': 'c1', 'z': 'z1', 'r': '0987'}

In [78]:
del dict06["r"]

In [79]:
dict06

{'b': 'b1', 'c': 'c1', 'z': 'z1'}

In [81]:
aa=True
if aa==True:
    print("OK")
else:
    print("no")

OK

In [ ]:
while True:
    stuff=input('String to capitalize[type q to quit:]')
    if stuff =='q':
        break
    print(stuff.capitalize())